@model ChampionshipManager.ViewModel.HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

@section Scripts
{
    <script>
        $(document).ready(function () {

        });
    </script>
}

<div class="container shadow-lg" style="background:white; padding:1%;">
    <div class="mt-4">
        <h4 class="float-left">
            Championships
        </h4>
        <div class="float-right mb-3">
            <a href='@Url.Action("Create","Championship")' class="btn btn-info">New Championship</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-active">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var championship in Model.ChampionshipList)
                {
                    <tr>
                        <td>
                            @championship.Name
                        </td>
                        <td>
                            @(championship.Active ? "In Progress" : "Finished")
                        </td>
                        <td>
                            <a href="@Url.Action("Manage","Championship", new { id = championship.Id })" class="btn btn-sm btn-success">Manage</a>
                            <a href="@Url.Action("Update","Championship", new { id = championship.Id })" class="btn btn-sm btn-info">Edit</a>
                            <a href="@Url.Action("Delete","Championship", new { id = championship.Id })" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <h4 class="float-left">
            Teams
        </h4>
        <div class="float-right mb-3">
            <a href='@Url.Action("Create","Team")' class="btn btn-info">New Team</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-active">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.TeamList)
                {
                    <tr>
                        <td>
                            @team.Name
                        </td>
                        <td>
                            <a href="@Url.Action("Update","Championship", new { id = team.Id })" class="btn btn-sm btn-info">Edit</a>
                            <a href="@Url.Action("Delete","Championship", new { id = team.Id })" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
